@-webkit-keyframes backgroundScroll {
  from {
    background-position: 0 0; }
  to {
    background-position: -180px 0px; } }

@keyframes backgroundScroll {
  from {
    background-position: 0 0; }
  to {
    background-position: -180px 0px; } }

/* CSS Document */
body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5; }

body {
  background-color: #fdfdfd;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333; }

a {
  color: #EA5751;
  text-decoration: none; }

a:hover, a:focus {
  color: #3397db;
  text-decoration: none; }

a img {
  border: none 0px #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

#footer {
  background-color: #fff;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase; }

/* ====================== Titles ====================== */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
  max-height: 120px;
  max-width: 800px;
  width: 70%;
  height: 15vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  header .title {
    font-family: 'Press Start 2P', cursive;
    margin: 0; }
  header .subtitle {
    font-family: 'Mali', cursive;
    margin: 0; }

main.interactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../res/img/bg.jpg");
  background-color: #cccccc;
  width: 100%;
  min-width: 340px;
  height: 60vh;
  min-height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-animation: backgroundScroll 3s linear infinite;
          animation: backgroundScroll 3s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  main.interactive #cat-img {
    max-width: 800px;
    width: 70%;
    min-height: 300px;
    height: 50vh;
    margin: 0 auto;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../res/img/1.gif"); }
  main.interactive .counter {
    background-color: #333;
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    main.interactive .counter .number {
      color: #000;
      text-align: center;
      font-family: "Press Start 2P", cursive;
      margin: 0;
      padding-top: 10px;
      text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
      letter-spacing: 6px; }
    main.interactive .counter .phrase {
      margin: 0 auto;
      padding: 15px 0;
      color: #fff;
      text-align: center;
      font-size: 1em;
      font-family: Helvetica, Arial, sans-serif;
      width: 100%; }
