$primary : #EA5751;

$gamyFont : 'Press Start 2P', cursive;
$handsyFont : 'Mali', cursive;


@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}


/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: $primary;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  flex: 1;
}
#footer {
  background-color: #fff;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Titles ====================== */
header{
	display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;
    max-height: 120px;
    max-width: 800px;
    width: 70%;
    height: 15vh;
	align-content: center;
    flex: auto;
    text-align: center;
    justify-content: center;

    .title {
		font-family: 'Press Start 2P', cursive;
		margin: 0;
	};


	.subtitle{
		font-family: 'Mali', cursive;
		margin: 0
	}

}


main.interactive{
	display: flex;
	background-image: url("../res/img/bg.jpg");
	background-color: #cccccc;
	width: 100%;
	min-width: 340px;
	height: 60vh;
	min-height: 300px;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	flex:1;
    animation: backgroundScroll 3s linear infinite;
    animation-fill-mode: forwards;
    

	#cat-img{
		max-width: 800px;
		width: 70%;
		min-height: 300px;
		height: 50vh;
		margin: 0 auto;
		background-color: #000;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url('../res/img/1.gif');
	}
	.counter{
		background-color: #333;
		width: 70%;
		max-width: 800px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;

		.number{
			color: #000;
			text-align: center;
			font-family: $gamyFont;
			margin: 0;
			padding-top: 10px;
			text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
			letter-spacing: 6px;
		}
		.phrase{
			margin: 0 auto;
			padding: 15px 0;
			color: #fff;
			text-align: center;
			font-size: 1em;
			font-family: Helvetica, Arial, sans-serif;
			width:100%;
		}
	}
	
}

